/*!
    Author: Shane Schroll
    Author URI: https://shaneschroll.dev
    Description: Styles for Minii components.
    Documentation: https://shaneschroll.dev/mockups/help-docs
    Version: 0.0.1
*/#minii-component{box-sizing:border-box;text-rendering:geometricPrecision;font-variant-numeric:lining-nums;font-feature-settings:"lnum" 1;line-height:1.65}.component-test-area{max-width:1200px;margin:2rem auto;padding:1rem}