// Fonts
$primary-font: 'Poppins', sans-serif; // weights (+i): 300, 500, 700
$secondary-font: 'Raleway', sans-serif; // weights: 400, 600

// Font Weights
$light: 300;
$regular: 500;
$medium: 600;
$heavy: 700;

// Radius Sizes
$radius-small: 5px;
$radius-medium: 10px;
$radius-large: 20px;
$circle: 50%;